res/images
res/songs
res/aws
temp/
output/
*.db
res/fonts/*.ttc
res/fonts/*.zip
res/fonts/andika-basic
res/fonts/AndikaNewBasic-BI.ttf
res/fonts/AndikaNewBasic-I.ttf
res/fonts/UTM Kabel KT.ttf
db
har_and_cookies/