assets/images
assets/songs
assets/aws
temp/
output/
*.db
assets/fonts/*.ttc
assets/fonts/*.zip
assets/fonts/andika-basic
assets/fonts/AndikaNewBasic-BI.ttf
assets/fonts/AndikaNewBasic-I.ttf
assets/fonts/UTM Kabel KT.ttf
db
har_and_cookies/
*.zip
support_code